@{
    ViewData["Title"] = "Shop left side bar";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
@model IEnumerable<TblProduct>
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="active">Shop Left Sidebar</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Li's Content Wraper Area -->
<div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-1 order-lg-2">
                <!-- Begin Li's Banner Area -->
                <div class="single-banner shop-page-banner">
                    <a href="#">
                        <img src="~/images/bg-banner/2.jpg" runat="server" alt="Li's Static Banner">
                    </a>
                </div>
                <!-- Li's Banner Area End Here -->
                <!-- shop-top-bar start -->
                <div class="shop-top-bar mt-30">
                    <div class="shop-bar-inner">
                        <div class="product-view-mode">
                            <!-- shop-item-filter-list start -->
                            <ul class="nav shop-item-filter-list" role="tablist">
                                <li class="active" role="presentation"><a aria-selected="true" class="active show" data-toggle="tab" role="tab" aria-controls="grid-view" href="#grid-view"><i class="fa fa-th"></i></a></li>
                                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="list-view" href="#list-view"><i class="fa fa-th-list"></i></a></li>
                            </ul>
                            <!-- shop-item-filter-list end -->
                        </div>
                        <div class="toolbar-amount">
                            <span>Showing 1 to 9 of 15</span>
                        </div>
                    </div>
                    <!-- product-select-box start -->
                    <div class="product-select-box">
                        <div class="product-short">
                            <p>Sort By:</p>
                            <select id="sortSelect" class="nice-select">
                                <option  value="trending">Relevance</option>
                                <option  value="sales">Name (A - Z)</option>
                                <option  value="sales">Name (Z - A)</option>
                                <option  value="rating">Price (Low &gt; High)</option>
                                <option  value="date">Rating (Lowest)</option>
                                <option  value="price-asc">Model (A - Z)</option>
                                <option  value="price-asc">Model (Z - A)</option>
                            </select>
                        </div>
                    </div>
                    <!-- product-select-box end -->
                </div>
                <!-- shop-top-bar end -->
                <!-- shop-products-wrapper start -->
                <div class="shop-products-wrapper">
                    <div class="tab-content" id="contentContainer"></div>
                 </div>
                <!-- shop-products-wrapper end -->
            </div>
            <div class="col-lg-3 order-2 order-lg-1">
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <!-- category-sub-menu start -->
                    <div class="category-sub-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="# ">Prime Video</a>
                                <ul>
                                    <li><a href="#">All Videos</a></li>
                                    <li><a href="#">Blouses</a></li>
                                    <li><a href="#">Evening Dresses</a></li>
                                    <li><a href="#">Summer Dresses</a></li>
                                    <li><a href="#">T-Rent or Buy</a></li>
                                    <li><a href="#">Your Watchlist</a></li>
                                    <li><a href="#">Watch Anywhere</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Computer</a>
                                <ul>
                                    <li><a href="#">TV & Video</a></li>
                                    <li><a href="#">Audio & Theater</a></li>
                                    <li><a href="#">Camera, Photo</a></li>
                                    <li><a href="#">Cell Phones</a></li>
                                    <li><a href="#">Headphones</a></li>
                                    <li><a href="#">Video Games</a></li>
                                    <li><a href="#">Wireless Speakers</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">Electronics</a>
                                <ul>
                                    <li><a href="#">Amazon Home</a></li>
                                    <li><a href="#">Kitchen & Dining</a></li>
                                    <li><a href="#">Bed & Bath</a></li>
                                    <li><a href="#">Appliances</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!--sidebar-categores-box start  -->
                <div class="sidebar-categores-box">
                    <div class="sidebar-title">
                        <h2>Filter By</h2>
                    </div>
                    <!-- btn-clear-all start -->
                    <button class="btn-clear-all mb-sm-30 mb-xs-30 clear_all">Clear all</button>
                    <!-- btn-clear-all end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area">
                        <h5 class="filter-sub-titel">Brand</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Categories</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                @await Component.InvokeAsync("Category")
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Price</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                @await Component.InvokeAsync("Price")
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    @*                     <div class="filter-sub-area pt-sm-10 pt-xs-10">
                    <h5 class="filter-sub-titel">Color</h5>
                    <div class="color-categoriy">
                    <form action="#">
                    <ul>
                    <li><span class="white"></span><a href="#">White (1)</a></li>
                    <li><span class="black"></span><a href="#">Black (1)</a></li>
                    <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                    <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                    </ul>
                    </form>
                    </div>
                    </div> *@
                    <div class="filter-sub-area pt-sm-10 pt-xs-10">
                        <h5 class="filter-sub-titel">Size</h5>
                        <div class="size-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="radio" name="product-size"><a href="#">S (3)</a></li>
                                    <li><input type="radio" name="product-size"><a href="#">M (3)</a></li>
                                    <li><input type="radio" name="product-size"><a href="#">L (3)</a></li>
                                    <li><input type="radio" name="product-size"><a href="#">XL (3)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                    <!-- filter-sub-area start -->
                    <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
                        <h5 class="filter-sub-titel">Dimension</h5>
                        <div class="categori-checkbox">
                            <form action="#">
                                <ul>
                                    <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                                    <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- filter-sub-area end -->
                </div>
                <!--sidebar-categores-box end  -->
                <!-- category-sub-menu start -->
                <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
                    <div class="sidebar-title">
                        <h2>Laptop</h2>
                    </div>
                    <div class="category-tags">
                        <ul>
                            <li><a href="# ">Devita</a></li>
                            <li><a href="# ">Cameras</a></li>
                            <li><a href="# ">Sony</a></li>
                            <li><a href="# ">Computer</a></li>
                            <li><a href="# ">Big Sale</a></li>
                            <li><a href="# ">Accessories</a></li>
                        </ul>
                    </div>
                    <!-- category-sub-menu end -->
                </div>
            </div>
        </div>
           
    </div>
</div>


<!-- Content Wraper Area End Here -->
@section Scripts{
   <script>
       $(document).ready(function () {
           // Kiểm tra nếu trang chưa có nội dung ban đầu thì tải trang 1
           if ($("#contentContainer").is(':empty')) {
               console.log("Sự kiện 1 xảy ra");
               $.ajax({
                   url: "/Shop/SearchFilterSort",
                   data: {
                       check: 1
                   },
                   success: function (response) {
                       $("#contentContainer").html(response);
                   }
               });
               }
       });
 
        //     console.log("Bug2");
        // Sự kiện Sort
            $("#sortSelect").change(function (e) {
            
                var selectedValue = $(this).val();
                var currentFilter = JSON.stringify(selectedCategories)
                var  currentSearch = searchTerm;
                console.log("Sort: " + selectedValue + currentFilter + currentSearch);
                $.ajax({
                url: "/Shop/SearchFilterSort",
                    data: { sortProduct: selectedValue, 
                            currentFilter:currentFilter,
                            currentSearch:currentSearch
                           },
                    success: function (response) {
                    $("#contentContainer").html(response);
                    }
                });

            });
             var selectedCategories = [];
    //     Sự kiện Filter
        $('input[type=checkbox][name=product-categori]').change(function () {
            console.log("Sự kiện 3 xảy ra");
            //Xóa nội dung tìm kiếm
            $("#searchInput").val("");
            searchTerm = "";
            //Lấy danh sách các checkbox được chọn
             selectedCategories = [];
            $('input[type=checkbox][name=product-categori]:checked').each(function () {
                selectedCategories.push($(this).next().text());
            });

            console.log("Checkbox: " + selectedCategories);
            //Gửi dữ liệu qua AJAX
            $.ajax({
                url: '/Shop/SearchFilterSort',
                type: 'GET', //Hoặc 'GET' tùy thuộc vào cách bạn đã thiết lập action FilterProducts
                data: {
                    categories: JSON.stringify(selectedCategories)
                },
                success: function (response) {
                    $("#contentContainer").html(response);
                }
            });
        });
    //     Sự kiện chọn giá
        $('input[type=radio][name=product-size]').change(function () {
            console.log("Sự kiện 3 xảy ra");
           //Lấy giá trị của radio button được chọn
            var selectedPriceRange = $('input[type=radio][name=product-size]:checked').next().text();
            var currentFilter = JSON.stringify(selectedCategories)
            var currentSearch = searchTerm;
            console.log("Price: " + electedPriceRange + currentFilter + currentSearch);
            //Gửi dữ liệu qua AJAX
            $.ajax({
                url: '/Shop/SearchFilterSort',
                type: 'GET', //Hoặc 'GET' tùy thuộc vào cách bạn đã thiết lập action FilterProducts
                data: {
                    
                    priceRanges: selectedPriceRange,
                    currentFilter:currentFilter,
                    currentSearch:currentSearch
                },
                success: function (response) {
                    $("#contentContainer").html(response);
                }
            });
        });
    //     Sự kiện click button ClearAll
            $("button.clear_all").click(function (e) {
            
            //Xóa nội dung tìm kiếm
            $("#searchInput").val("");
            //Xóa lựa chọn của các checkbox
            $("input[type=checkbox][name=product-categori]").prop("checked", false);
            //Xóa lựa chọn của các radio
            $("input[type=radio][name=product-size]").prop("checked", false);
            console.log("Sự kiện Clear all xảy ra");
            $.ajax({
                url: "/Shop/SearchFilterSort",
                data: { check: 1 },
                success: function (response) {
                    $("#contentContainer").html(response);
                }
            })
        });

      
            //Bắt sự kiện khi click vào nút "Previous"
        function PreviousFunction(e)  {
            
                e.preventDefault();
                var currentPage = $(".Previous").data("page");
                if (currentPage > 1) {

                var currentFilter = JSON.stringify(selectedCategories)
                var currentSearch = searchTerm;
                console.log("Previous: " + currentPage + currentFilter + currentSearch);
                loadPagination(currentPage - 1, currentFilter, currentSearch);
                }

            };

    //         Bắt sự kiện khi click vào nút "Next"
        function NextFunction(e) {
                e.preventDefault();
                var currentPage = parseInt($(".Next").data("page"));
                var totalPages = $(".Next").attr("value");

                if (currentPage < totalPages) {
                    
                     var   currentFilter = JSON.stringify(selectedCategories)
                     var currentSearch = searchTerm;
                console.log("Next: " + currentPage + currentFilter + currentSearch);
                    loadPagination(currentPage + 1,currentFilter,currentSearch);
                }
                
            };

            //Bắt sự kiện khi click vào số trang
        function PageFunction(e) {
                e.preventDefault();
    
                var currentFilter = JSON.stringify(selectedCategories)
                var currentSearch = searchTerm;
            var page = $(".PageNumber").data("page");
                console.log("Page: " + page + currentFilter + currentSearch);
                loadPagination(page,currentFilter,currentSearch);
            };


            function loadPagination(page,currentFilter,currentSearch) {
                console.log("Pageaaaaaa");
                $.ajax({
                    url: '/Shop/SearchFilterSort', 
                    type: 'GET',
                    data: { page: page,
                            currentFilter: currentFilter,
                            currentSearch: currentSearch
                        },
                    success: function (data) {
                     //   Cập nhật partial view phân trang
                        $("#contentContainer").html(data);
                    }
                });
            }
            var searchTerm = "";
    // Sự kiện tìm kiếm
        $("#searchForm").on("submit", function (e) {
            e.preventDefault(); //Ngăn chặn form tự động gửi đi (tránh làm trang web tải lại)
            //Xóa lựa chọn của các checkbox
            $("input[type=checkbox][name=product-categori]").prop("checked", false);
            //Xóa lựa chọn của các radio
            $("input[type=radio][name=product-size]").prop("checked", false);
            selectedCategories = [];
           // Lấy giá trị từ input tìm kiếm
             searchTerm = $("#searchInput").val();
            console.log("Search: " + searchTerm);
            $.ajax({
                url: "/Shop/SearchFilterSort",
                data: { searchString: searchTerm },
                success: function (response) {
                    $("#contentContainer").html(response);
                }
            });
        });
 
</script>
}

