@using Web.Data;
@model IEnumerable<Web.Models.TblProduct>

@{
    WebContext _context = new WebContext();
    var samsungProducts = (from p in _context.TblProducts
                           join c in _context.TblCategories on p.CategoryId equals c.CategoryId
                           where c.CategoryName == "Samsung"
                           select p).ToList();
}
<section class="product-area li-laptop-product pgitt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Samsung</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach(var item in samsungProducts)
                        {
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image" style="height : 240px">
                                        <a href="@* @Url.Action(" Detail", "Shop" , new { id=item.ProductId }) *@">
                                            <img src="images/product/large-size/@item.Image" alt="Li's Product Image">
                                            
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="shop-left-sidebar.html">New </a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="single-product.html">@item.NameProduct</a></h4>
                                            <div class="price-box">
                                                <span class="new-price">$@item.Price</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a style="cursor:pointer" onclick="handlerAddToCart(@item.ProductId)">Add to cart</a></li>
                                               @*  <li class="add-cart active"><a style="cursor:pointer" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.ProductId">Add to cart</a></li> *@
                                                <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
