@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@{
    double total = 0;
    int count = 0;
    List<CartItem>
           cart = new List<CartItem>
       ();
    const string CARTKEY = "cart";
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString(CARTKEY);
    if (jsoncart != null)
    {
        cart = JsonConvert.DeserializeObject<List<CartItem>>(jsoncart);
    }

    @foreach (var item in cart)
    {
        total += item.total;
        count += item.quantity;

    }  
}
<div id="cartIcon">

    <li class="hm-minicart">
        <div class="hm-minicart-trigger">
            <span class="item-icon"></span>
            <span class="item-text">
                $@total
                <span class="cart-item-count">@count</span>
            </span>
        </div>
        <span></span>
        <div class="minicart">
            <ul class="minicart-product-list">
                @for (int i = 0; i < (4 > cart.Count ? cart.Count : 3); i++)
                {
                    <li>
                        <a href="single-product.html" class="minicart-product-image">
                            <img src="images/product/large-size/@cart[i].product.Image" alt="cart products">
                        </a>
                        <div class="minicart-product-details">
                            <h6><a href="single-product.html">@cart[i].product.NameProduct</a></h6>
                            <span>$@cart[i].product.Price * @cart[i].quantity</span>
                        </div>
                    </li>
                }

            </ul>
            <p class="minicart-total">SUBTOTAL: <span>$@total</span></p>
            <div class="minicart-button">
                <a asp-action="Index" asp-controller="ShoppingCart" class="li-button li-button-dark li-button-fullwidth li-button-sm">
                    <span>View Full Cart</span>
                </a>
               <a asp-controller="Order" asp-action="Index" class="li-button li-button-dark li-button-fullwidth li-button-sm">View Order</a>
            </div>
        </div>
    </li>

</div>