<div id="alert-container">
    <div id="alert-box" class="alert @ViewBag.AlertType">
        @ViewBag.AlertMessage
        <span class="close-btn" onclick="closeAlert()">&times;</span>
    </div>
</div>
